@font-face {
    font-family: 'Passions Conflict RUS';
    src: url('PassionsConflictRUS.woff2') format('woff2'),
        url('PassionsConflictRUS.woff') format('woff'),
        url('PassionsConflictRUS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

